.App__parent {
  width: 100%;
  min-width: 1000px;
  min-height: 100vh;
  background-image: url('./images/Pic1.png');
  background-size: cover;
}

.App__content {
  width: 1000px;
  margin: 0 auto;
  min-height: calc( 100vh - 50px );
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.sendingStuff{
  width: 80%;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  overflow: scroll;
  padding: 0;
}

.addingStuff{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: rgb(251, 255, 0);
  font-size: 20px;
  font-weight: 600;
}
